body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif
   }
.social-media-button {
    height: 2rem;
  }
  .footer {
      text-align: center;
      background-color: powderblue;
  }
  div {
    min-height: 2rem;
    min-width: 2rem;
    margin: 2rem;
    border: 1px solid black;
  }
  .main {
    display: flex;
    flex-flow: row;
  }
  .sidebar {
    flex-grow: 1;
  }
  
  .more-info {
    flex-grow: 2;
  }