body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif
   }
.social-media-button {
    height: 2rem;
  }
  .footer {
      text-align: center;
      background-color: powderblue;
  }
  div {
    min-height: 2rem;
    min-width: 2rem;
    margin: 2rem;
  }
  .main {
    display: flex;
    flex-flow: row;
  }
  .sidebar {
    flex-grow: 1;
  }
  
  .more-info {
    flex-grow: 2;
  }
  .sidebar {
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .work-experience {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .education {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
